Django==1.9.4
django-appconf==1.0.1
django-autoslug==1.9.3
django-cleanup==0.4.2
django-crispy-forms==1.6.0
django-filter==0.12.0
django-floppyforms==1.6.1
django-form-utils==1.0.3
django-imagekit==3.3
django-likert-field==0.2.0
django-mathfilters==0.3.0
django-messages==0.5.1
django-registration==2.0.4
django-registration-redux==1.2
django-thumbs==0.4
django-tinymce==2.2.0
django-zebra==0.4.5
djangorestframework==3.3.2
easy-thumbnails==2.3
jsonfield==1.0.3
Markdown==2.6.5
pilkit==1.1.13
Pillow==3.0.0
pytz==2015.7
requests==2.9.1
sorl-thumbnail==12.3
stripe==1.29.0
virtualenv==13.1.0
web.py==0.37
