/* your styles go here */


.featurette {
    display: table;
    width: 100%;
    height: 30%; /* set a pixel height and then remove the body,html height */
    vertical-align: middle;
    color: #fff;
    margin-top:-40px;
}
.featurette-inner {
    display: table-cell;
    vertical-align: middle;
}
.featurette .search {
    padding: 3%;
    max-width: 980px; /*max width of search*/
    margin: 0 auto;
}
.no-margin-top {
    margin-top: 0
}


/* ------ form-control-lg */
.form-control-lg {
    min-height: 46px;
    border-radius: 6px;
    font-size: 18px;
    line-height: normal;
}


/* ------ disjointed form group custom */
.featurette .search.has-button .btn {
    margin-top: 5px;
    width: 100%;
}
@media (min-width:480px) { 
    .featurette .search.has-button .form-group {
        position: relative;
        padding-right: 99px; /*space for button*/
    }
    .featurette .search.has-button .btn {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        margin: 0;
    }
}


.haha h5{
    padding-left: 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: block;
    width: 100%;
}
.box-image-text{
    overflow: hidden;
    display:block;
    border-radius:6px;
}

.box-image-text:hover{
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 10px #000000;
-webkit-box-shadow: 0px 0px 10px #000000;
box-shadow: 0px 0px 10px #000000;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

    transition-duration: 0.5s;
}

#listimg{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
    width:100%;
    max-height: 100%;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.rcorner1{

  position: relative;
  overflow: hidden;
  padding-bottom: 70%
}
/*@media screen and (max-width: 1199px) {
    #listimg{
        height:150px;
    }
}
@media screen and (max-width: 991px) {
    #listimg{
        height:175px;
    }
}
@media screen and (max-width: 767px) {
    #listimg{
        height:200px;
    }
}*/
.buttonx{
    width:50%;
    float:left;
    border: none;
    color: white;
    background-color: #38a7bb;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-right: 1.5px solid #555;
    border-bottom-left-radius: 6px;
}

.buttonxred{
    background-color: #F1093F;
}

.buttony{
    width:50%;
    float:right;
    border: none;
    color: white;
    background-color: #38a7bb;
    text-align: center;
    vertical-align: middle;
    padding: 7px 0px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-left: 1.5px solid #555;
    border-bottom-right-radius: 6px;

}

#top .login span ul li a{
    color:#555555;
}

.carousel-inner {
    height: 310px;
}

.carousel-inner .item {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.carousel-inner .item img {
    width: 100%;
    min-height: 100%;
    max-height: none;
}

.haha{
    background-color: #eee;
    width: 100%;
    display:block;
    padding: 1px 0px;
}

.btn-search1{
  background-color: #FFBA22;
  border-color: #E19B00;
}

.circular {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    }
.circularbook {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.circularnav {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin-top: -24px;
    margin-bottom: -21px;
}
.circularnav:hover {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin-top: -24px;
    margin-bottom: -21px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#navbar{
    -webkit-box-shadow: 0 6px 20px -8px black;
       -moz-box-shadow: 0 6px 20px -8px black;
            box-shadow: 0 6px 20px -8px black;
}
#fixedbutton {
    position: fixed;
    bottom: 20px;
    right: 20px; 
}

#hometop{
    width: 100%;
    opacity: 0.6;
}