/* your styles go here */


.featurette {
    display: table;
    width: 100%;
    height: 30%; /* set a pixel height and then remove the body,html height */
    vertical-align: middle;
    color: #fff;
}
.featurette-inner {
    display: table-cell;
    vertical-align: middle;
}
.featurette .search {
    padding: 3%;
    max-width: 980px; /*max width of search*/
    margin: 0 auto;
}
.no-margin-top {
    margin-top: 0
}


/* ------ form-control-lg */
.form-control-lg {
    min-height: 46px;
    border-radius: 6px;
    font-size: 18px;
    line-height: normal;
}


/* ------ disjointed form group custom */
.featurette .search.has-button .btn {
    margin-top: 5px;
    width: 100%;
}
@media (min-width:480px) { 
    .featurette .search.has-button .form-group {
        position: relative;
        padding-right: 99px; /*space for button*/
    }
    .featurette .search.has-button .btn {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        margin: 0;
    }
}


.haha h5{
    padding-left: 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: block;
    width: 100%;
}
.box-image-text{
  background-color: #38a7bb;
    overflow: hidden;
    display:block;
    border-radius:9px;
    border: 2px #38a7bb solid;
-moz-box-shadow: 0px 0px 5px #000000;
-webkit-box-shadow: 0px 0px 5px #000000;
box-shadow: 0px 0px 5px #000000;
}

.box-image-text:hover{
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 10px #000000;
-webkit-box-shadow: 0px 0px 10px #000000;
box-shadow: 0px 0px 10px #000000;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

    transition-duration: 0.5s;
}

#listimg{
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    height: 100%;
/*  border-top-left-radius: 6px;
  border-top-right-radius: 6px;*/*/
}
.rcorner1{
  background-color: #f1f1f1;
  position: relative;
  overflow: hidden;
  padding-bottom: 80%;
}
/*@media screen and (max-width: 1199px) {
    #listimg{
        height:150px;
    }
}
@media screen and (max-width: 991px) {
    #listimg{
        height:175px;
    }
}
@media screen and (max-width: 767px) {
    #listimg{
        height:200px;
    }
}*/
.buttonx{
    width:50%;
    float:left;
    border: none;
    color: white;
    background-color: #38a7bb;
    text-align: center;
    vertical-align: middle;
    padding: 10px 0px;
    text-decoration: none;
    display: inline-block;
    font-size: 15.4px;
    cursor: pointer;
    border-right: 1.5px solid #555;
    border-bottom-left-radius: 5px;
}

.buttonxred{
    background-color: #F1093F;
}

.buttony{
    width:50%;
    float:right;
    border: none;
    color: white;
    background-color: #38a7bb;
    text-align: center;
    vertical-align: middle;
    padding: 7px 0px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-left: 1.5px solid #555;
    border-bottom-right-radius: 6px;

}

#top .login span ul li a{
    color:#555555;
}

.carousel-inner {
    height: 100%;
}

.carousel-inner .item {
    overflow: hidden;
    max-width: 100%;
    min-height: 100%;
}

.carousel-inner .item img {
    width: 100%;
}

.haha{
    background-color: #eee;
    width: 100%;
    display:block;
    padding: 1px 0px;
}

.btn-search1{
  background-color: #FFBA22;
  border-color: #E19B00;
}

.circular img,
.circularbook img,
.circularnav img {
    position: absolute;
    margin: auto; 
    max-width: 100%;

    /* For the following settings we set 100%, but it can be higher if needed 
    See the answer's update */
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;

}
.circular {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    }
.circularbook {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.circularnav {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin-top: -24px;
    margin-bottom: -21px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

}
td a{
    display:block;
    width:100%;
}
#navbar{
    -webkit-box-shadow: 0 6px 20px -8px black;
       -moz-box-shadow: 0 6px 20px -8px black;
            box-shadow: 0 6px 20px -8px black;
}
#fixedbutton {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    width: 60px;
    z-index: 6;
}

#hometop{
    width: 100%;
    opacity: 0.6;
}html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */

  background: #333;
  color: #ccc;
  padding: 15px 0;
  font-size: 15px;
  line-height: 28px;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    }
    .star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  /* width: 250px; remove this */
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  /* width: 20%; remove this */
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  /* width: 20%; remove this */
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
::after,
::before {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.star-rating.star-5 {width: 250px;}
.star-rating.star-5 input,
.star-rating.star-5 i {width: 20%;}
.star-rating.star-5 i ~ i {width: 40%;}
.star-rating.star-5 i ~ i ~ i {width: 60%;}
.star-rating.star-5 i ~ i ~ i ~ i {width: 80%;}
.star-rating.star-5 i ~ i ~ i ~ i ~i {width: 100%;}

.likert-star{
    color: #FFBA22;
    font-size: 2em;
}

.form-control-book{

  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  border: 0;
}
.post-form-book{
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  padding: 0;
}
.form-control-book:focus{
  background-color: #f2f2f2;
}
textarea:focus, input:focus{
    outline: none;
}

.form-group-book{
  padding:15px;
  border-bottom: 2px solid #e6e6e6;
}

#dropdown-menu-mobile{
  width:100%;
  max-height:80vh;
  z-index: 1000;
  height:500px;
   overflow:auto;/* to get scroll */
}

#dropdown-button-mobile:focus{
  border-top: solid 5px #38a7bb;
  background: #cfcfcf !important;
  color: black !important;
}
#dropdown-button-mobile:hover{
  color:black;
  background-color: #e6e6e6;
}
#dropdown-button-mobile:active{
  border-top: solid 5px #20616d;
  }
  #dropdown-menu-mobile > li{
    border:none;
    text-transform: none;
  }
#dropdown-menu-mobile > li > h5{
  padding:0 20px;
  color: #a1a1a1;
  font-size: 18px;
}
#dropdown-menu-mobile > li > a{
  padding:0 40px;
  color: #555;
  font-weight: bold;
  font-size: 18px;
}
.no-margin{
  margin:0;
}
.main-green{
  color:#38a7bb !important; 
}
.dropdown-header-head{
  padding:0 5px;
}
#sub-heading-homepage{
  vertical-align: bottom;
  margin-left: 10px;
  padding-bottom: 15px;
  color: #FFBA22;
  border: none;
}
#sub-heading-homepage:hover{
  text-decoration: underline;
}
.tags{
  margin:0;
  padding:0;
  list-style:none;
  }
.tags li, .tags a{
  float:left;
  height:24px;
  line-height:24px;
  position:relative;
  font-size:13px;
  }
.tags a{
  margin-left:20px;
  font-weight: bold;
  padding:0 10px 0 12px;
  background:#38a7bb;
  color:#fff;
  text-decoration:none;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px; 
  border-bottom-right-radius:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-right-radius:4px;  
  border-top-right-radius:4px;  
  }
.tags a:before{
  content:"";
  float:left;
  position:absolute;
  top:0;
  left:-12px;
  width:0;
  height:0;
  border-color:transparent #38a7bb transparent transparent;
  border-style:solid;
  border-width:12px 12px 12px 0;    
  }
.tags a:after{
  content:"";
  position:absolute;
  top:10px;
  left:0;
  float:left;
  width:4px;
  height:4px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  background:#fff;
  -moz-box-shadow:-1px -1px 2px #004977;
  -webkit-box-shadow:-1px -1px 2px #004977;
  box-shadow:-1px -1px 2px #004977;
  }
.tags a:hover{background:#555;} 

.tags a:hover:before{border-color:transparent #555 transparent transparent;}

.bubble 
{
position: relative;
width: 220px;
height: 95px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 17px;
-moz-border-radius: 17px;
border-radius: 17px;
border: #7F7F7F solid 2px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 17px 0 17px 19px;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
right: -19px;
top: 25px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 18px 0 18px 20px;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
right: -22px;
top: 24px;
}