{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}
<div class="container" style="padding-top:20px;">
<ul class="messages" style="margin-left:-40px">
    <li class="success alert alert-warning" role="alert" style="list-style-type:none;">Account activation has failed, please try again!</li>
</ul>
</div>
{% endblock %}


{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}