{% extends "postman/base.html" %}
{% load i18n postman_tags %}{% load pagination_tags %}{% comment %}
WARNING: 'pagination_tags' is a name from the django-pagination application.
For convenience, the design of this template is done with the use of that application.
Django-postman will still be working, even if that application is not installed, by providing a mock
for the template tag library.
If the real implementation is to be used, just make sure that 'pagination' is declared before 'postman'
in the INSTALLED_APPS setting.
{% endcomment %}
{% block content2 %}
<div id="postman">
<h1>{% block pm_folder_title %}{% endblock %}</h1>
{% autopaginate pm_messages %}
{% if invalid_page %}
<p>{% trans "Sorry, this page number is invalid." %}</p>
{% else %}
{% if pm_messages %}
{% block pm_by_modes %}<div id="pm_by_modes">
<ul class="nav nav-tabs">
  <li role="presentation" style="padding:10px 7px;"><strong>By:</strong></li>
  <li role="presentation"{% if by_conversation %} class="active"{% endif %}><a href="{{ by_conversation_url }}">{% trans "Conversations" %}</a></li>
  <li role="presentation"{% if by_message %} class="active"{% endif %}><a href="{{ by_message_url }}">{% trans "Messages" %}</a></li>
</ul>



</div>{% endblock pm_by_modes %}
<form action="{% block pm_form_action %}{% endblock %}" method="post">{% csrf_token %}
{% block pm_form_buttons %}<span id="pm_buttons">
{% block pm_undelete_button %}<button style="margin:10px 0px;" class="btn btn-default" type="submit" onclick="this.form.action='{% url 'postman:undelete' %}'"><i class="fa fa-minus-circle"></i>Undelete</button>{% endblock %}
</span>{% endblock %}
<table id="pm_messages" class="table table-hover" style="width:100%;">
 <thead>
  <tr style="border-top:1px solid #ddd;">
{% block pm_sender_header %}   <th style="width:10%;border-left:1px solid #ddd;"><a href="{% postman_order_by sender %}">{% trans "Sender" %}</a></th>{% endblock %}
{% block pm_recipient_header %}   <th style="width:10%;border-left:1px solid #ddd;"><a href="{% postman_order_by recipient %}">{% trans "Recipient" %}</a></th>{% endblock %}
   <th style="border-left:1px solid #ddd;"><a href="{% postman_order_by subject %}">{% trans "Subject" %}</a></th>
   
  </tr>
 </thead>
 <tbody>{% for message in pm_messages %}

  <tr{% if not message.is_new %} style="background-color:#ededed;"{% endif %}>
   
{% block pm_sender_cell %}   <td>{% if message.obfuscated_sender|or_me:user == '<me>' %}<me>{% else %}<a href="{% url 'user_profile_detail'  message.sender.userprofile.slug %}">{% endif %}{{ message.obfuscated_sender|or_me:user|truncatechars:9 }}{% if message.count %} ({{ message.count }}){% endif %}{% if not message.obfuscated_sender|or_me:user == '<me>' %}</a>{% endif %}</td>{% endblock %}
{% block pm_recipient_cell %}   <td>{{ message.obfuscated_recipient|or_me:user }}{% if message.count %} ({{ message.count }}){% endif %}</td>{% endblock %}
   <td>{% if message.is_new %}<strong>{% endif %}{% if message.is_replied %}<em>{% endif %}
{% block pm_subject %}
    <a href="{% if by_conversation and message.thread_id %}{% url 'postman:view_conversation' message.thread_id %}{% else %}{% url 'postman:view' message.pk %}{% endif %}?next={{ current_url|urlencode }}" style='text-overflow: ellipsis;'>
    {% include "postman/inc_subject_ex.html" %}
    </a>
{% endblock %}
   {% if message.is_replied %}</em>{% endif %}{% if message.is_new %}</strong>{% endif %}</td>

  </tr>{% endfor %}
 </tbody>
</table>
</form>
{% paginate %}
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}
{% endif %}
{% block pm_footer_info %}{% endblock %}
</div>
{% endblock content2 %}