{% extends 'books/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container text-center" style="display:block; padding-bottom: 20px; padding-top:20px;">

<form enctype="multipart/form-data" method="POST" class="post-form col-md-6">{% csrf_token %}
        

<div id="div_id_title" class="form-group {% if form.title.errors %} has-error {% endif %}"><label for="id_title" class="control-label  requiredField">
                What is the name of the book?<span class="asteriskField">*</span> </label> <div class="controls "> <input class="textinput textInput form-control" id="id_title" maxlength="100" name="title" type="text" value="{% if object.title %}{{ object.title }}{% elif form.title.data %}{{form.title.data}}{% endif %}">{% if form.title.errors %}<p id="error_1_id_title" class="help-block"><strong>This field is required.</strong></p> {% endif %} </div> </div> <div id="div_id_description" class="form-group {% if form.description.errors %} has-error {% endif %}"> <label for="id_description" class="control-label  requiredField">
                Details and Condition?<span class="asteriskField">*</span> </label> <div class="controls "> <textarea class="textarea form-control" cols="40" id="id_description" name="description" rows="10">{% if object.description %}{{ object.description }}{% elif form.description.data %}{{form.description.data}}{% endif %}</textarea>{% if form.description.errors %}<p id="error_1_id_description" class="help-block"><strong>This field is required.</strong></p> {% endif %} </div> </div> <div id="div_id_personal_review" class="form-group"> <label for="id_personal_review" class="control-label ">
                Your thoughts/summary?
            </label> <div class="controls "> <textarea class="textarea form-control" cols="40" id="id_personal_review" name="personal_review" rows="10">{% if object.personal_review %}{{ object.personal_review }}{% elif form.personal_review.data %}{{form.personal_review.data}}{% endif %}</textarea> </div> </div> <div id="div_id_genre" class="form-group {% if form.genre.errors %} has-error {% endif %}"> <label for="id_genre" class="control-label  requiredField">
                Genre<span class="asteriskField">*</span> </label> <div class="controls "> <select class="select form-control" id="id_genre" name="genre">
<option value="">---------</option>
<optgroup label="Non-Fiction">
<option value="Biography"{% if object.genre == "Biography" or form.genre.data == "Biography" %} selected="selected"{% endif %}>Biography</option>
<option value="Business"{% if object.genre == "Business" or form.genre.data == "Business" %} selected="selected"{% endif %}>Business</option>
<option value="Computer"{% if object.genre == "Computer" or form.genre.data == "Computer" %} selected="selected"{% endif %}>Computer</option>
<option value="Engineering"{% if object.genre == "Engineering" or form.genre.data == "Engineering" %} selected="selected"{% endif %}>Engineering</option>
<option value="Finance"{% if object.genre == "Finance" or form.genre.data == "Finance" %} selected="selected"{% endif %}>Finance</option>
<option value="Food"{% if object.genre == "" %} selected="selected"{% endif %}>Food &amp; Beverages</option>
<option value="History"{% if object.genre == "History" or form.genre.data == "History" %} selected="selected"{% endif %}>History</option>
<option value="Law"{% if object.genre == "Law" or form.genre.data == "Law" %} selected="selected"{% endif %}>Law</option>
<option value="Manga"{% if object.genre == "Manga" or form.genre.data == "Manga" %} selected="selected"{% endif %}>Manga</option>
<option value="Medical"{% if object.genre == "Medical" or form.genre.data == "Medical" %} selected="selected"{% endif %}>Medical</option>
<option value="Novel"{% if object.genre == "Novel" or form.genre.data == "Novel" %} selected="selected"{% endif %}>Novel</option>
<option value="Religion"{% if object.genre == "Religion" or form.genre.data == "Religion" %} selected="selected"{% endif %}>Religion</option>
<option value="Sports"{% if object.genre == "Sports" or form.genre.data == "Sports" %} selected="selected"{% endif %}>Sports</option>
<option value="Technology"{% if object.genre == "Technology" or form.genre.data == "Technology" %} selected="selected"{% endif %}>Technology</option>
</optgroup>
<optgroup label="Fiction">
<option value="Action"{% if object.genre == "Action" %} selected="selected"{% endif %}>Action</option>
<option value="Adventure"{% if object.genre == "Adventure" %} selected="selected"{% endif %}>Adventure</option>
<option value="Classics"{% if object.genre == "Classics" %} selected="selected"{% endif %}>Classics</option>
<option value="Crime"{% if object.genre == "Crime" %} selected="selected"{% endif %}>Crime</option>
<option value="Fantasy"{% if object.genre == "Fantasy" %} selected="selected"{% endif %}>Fantasy</option>
<option value="Horror"{% if object.genre == "Horror" %} selected="selected"{% endif %}>Horror</option>
<option value="Romance"{% if object.genre == "Romance" %} selected="selected"{% endif %}>Romance</option>
<option value="ScienceFiction"{% if object.genre == "ScienceFiction" %} selected="selected"{% endif %}>Science Fiction</option>
<option value="Thrillers"{% if object.genre == "Thrillers" %} selected="selected"{% endif %}>Thrillers</option>
</optgroup>
<optgroup label="School Books">
<option value="Secondary"{% if object.genre == "Secondary" %} selected="selected"{% endif %}>Secondary</option>
<option value="Primary"{% if object.genre == "Primary" %} selected="selected"{% endif %}>Primary</option>
<option value="Polytechnic"{% if object.genre == "Polytechnic" %} selected="selected"{% endif %}>Polytechnic</option>
<option value="juniorcollege"{% if object.genre == "juniorcollege" %} selected="selected"{% endif %}>Junior College</option>
<option value="university"{% if object.genre == "university" %} selected="selected"{% endif %}>University</option>
</optgroup>
</select>{% if form.genre.errors %}<p id="error_1_id_genre" class="help-block"><strong>This field is required.</strong></p>{% endif %} </div> </div> 

<div id="div_id_price" class="form-group {% if form.price.errors %} has-error {% endif %}"> <label for="id_price" class="control-label  requiredField">
                How much are you selling for?<span class="asteriskField">*</span> </label> <div class="controls "> <input class="numberinput form-control" id="id_price" name="price" type="number" step="0.01" value="{% if object.price %}{{ object.price }}{% elif form.price.data %}{{form.price.data}}{% endif %}"> {% if form.price.errors %}<p id="error_1_id_price" class="help-block"><strong>{{ form.price.errors }}</strong></p>{% endif %}</div> </div>
<label for="id_condition">Rating:</label>
<div class="star-rating star-5">
<input id="id_condition" type="radio" name="condition" value="1" {% if object.condition == 1 or form.condition.data == '1' %} checked="checked" {% endif %} 
 class="likert-field" /><i></i>
<input id="id_condition" type="radio" name="condition" value="2" {% if object.condition == 2 or form.condition.data == '2' %} checked="checked" {% endif %} 
 class="likert-field" /><i></i>
<input id="id_condition" type="radio" name="condition" value="3" {% if object.condition == 3 or form.condition.data == '3' %} checked="checked" {% endif %} 
 class="likert-field" /><i></i>
<input id="id_condition" type="radio" name="condition" value="4" {% if object.condition == 4 or form.condition.data == '4' %} checked="checked" {% endif %} 
 class="likert-field" /><i></i>
<input id="id_condition" type="radio" name="condition" value="5" {% if object.condition == 5 or form.condition.data == '5' %} checked="checked" {% endif %} 
 class="likert-field" /><i></i>
 </div>
 {% if form.condition.errors %}<p id="error_1_id_condition" class="help-block" style="color:#a94442;"><strong>This field is required.</strong></p>{% endif %}
            <div id="div_id_image1" class="form-group"> 
	            <label for="id_image1" class="control-label ">
	                {% if object.image1 %}Change Image:{% else %}First Image{% endif %}
	            </label> 
            	<div class="controls ">
		            <div class="thumbnail">
	                    <img src="{% if object.image1 %}{{ object.image1.url }}{% else %}../../../static/img/nobookimg.png{% endif %}" id="id_image1">
	                    <div class="caption">
	                    	<input class="clearablefileinput" id="id_image1" name="image1" type="file" onchange="upload_img1(this);">
	                    </div>
	                    {% if object.image1 %}
	                    <input id="image1-clear_id" name="image1-clear" type="checkbox">
		                <label for="image1-clear_id">
		                	Remove Image
		                </label><br>
		                {% endif %}
	                </div>
            	</div> 
            </div>
            <div id="div_id_image2" class="form-group"> 
	            <label for="id_image2" class="control-label ">
	                {% if object.image2 %}Change Image:{% else %}Second Image{% endif %}
	            </label> 
            	<div class="controls ">
		            <div class="thumbnail">
	                    <img src="{% if object.image2 %}{{ object.image2.url }}{% else %}../../../static/img/nobookimg.png{% endif %}" id="id_image2">
	                    <div class="caption">
	                    	<input class="clearablefileinput" id="id_image2" name="image2" type="file" onchange="upload_img2(this);">
	                    </div>
	                    {% if object.image2 %}
	                    <input id="image1-clear_id" name="image1-clear" type="checkbox"> 
		                <label for="image1-clear_id">
		                	Remove Image
		                </label><br>
		                {% endif %}
	                </div>
            	</div> 
            </div>
            <div id="div_id_image3" class="form-group"> 
	            <label for="id_image3" class="control-label ">
	                {% if object.image3 %}Change Image:{% else %}Third Image{% endif %}
	            </label> 
            	<div class="controls ">
		            <div class="thumbnail">
	                    <img src="{% if object.image3 %}{{ object.image3.url }}{% else %}../../../static/img/nobookimg.png{% endif %}" id="id_image3">
	                    <div class="caption">
	                    	<input class="clearablefileinput" id="id_image3" name="image3" type="file" onchange="upload_img3(this);">
	                    </div>
	                    {% if object.image3 %}
	                    <input id="image3-clear_id" name="image3-clear" type="checkbox"> 
		                <label for="image3-clear_id">
		                	Remove Image
		                </label><br>
		                {% endif %}
	                </div>
            	</div> 
            </div>
            <div id="div_id_image4" class="form-group"> 
	            <label for="id_image4" class="control-label ">
	                {% if object.image4 %}Change Image:{% else %}Fourth Image{% endif %}
	            </label> 
            	<div class="controls ">
		            <div class="thumbnail">
	                    <img src="{% if object.image4 %}{{ object.image4.url }}{% else %}../../../static/img/nobookimg.png{% endif %}" id="id_image4">
	                    <div class="caption">
	                    	<input class="clearablefileinput" id="id_image4" name="image4" type="file" onchange="upload_img4(this);">
	                    </div>
	                    {% if object.image4 %}
	                    <input id="image4-clear_id" name="image4-clear" type="checkbox"> 
		                <label for="image4-clear_id">
		                	Remove Image
		                </label><br>
		                {% endif %}
	                </div>
            	</div> 
            </div>
            

        <button type="submit" class="save btn btn-default">Sell!</button>{% csrf_token %}
    </form>



    </div>
{% endblock %}