{% extends 'books/base.html' %}

{% load staticfiles %}
{% block content %}
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>List of books being sold!</h1>
                    </div>
<!--                     <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a>
                            </li>
                            <li>Content boxes</li>
                        </ul>

                    </div> -->
                </div>
            </div>
        </div>



{% if books %}

<div class="featurette">
   <div class="featurette-inner text-center">
      <form method='GET' action='' class="search" role="form">
         <div class="input-group input-group-lg">
            <input type='text' name='q' placeholder='Seach for books' value='{{ request.GET.q }}' class="form-control" style="width:60%;">
            <select name='fil' style="color:black; width:40%; font-size:15px;"  class="form-control">
                <option value="">Genre</option>
                <optgroup label="Non-fiction">
                  <option value="Biography">Biography</a></option>
                  <option value="Business">Business</a></option>
                  <option value="Computer">Computer</a></option>
                  <option value="Engineering">Engineering</a></option>
                  <option value="Finance">Finance</a></option>
                  <option value="food">Food & Beverages</a></option>
                  <option value="History">History</a></option>
                  <option value="Law">Law</a></option>
                  <option value="Manga">Manga</a></option>
                  <option value="Medical">Medical</a></option>
                  <option value="Novel">Novel</a></option>
                  <option value="Religion">Religion</a></option>
                  <option value="Sports">Sports</a></option>
                  <option value="Technology">Technology</a></option>
                </optgroup>
                <optgroup label="Fiction">
                  <option value="Action">Action</option>
                  <option value="Adventure">Adventure</option>
                  <option value="Classics">Classics</option>
                  <option value="Crime">Crime</option>
                  <option value="Fantasy">Fantasy</option>
                  <option value="Horror">Horror</option>
                  <option value="Romance">Romance</option>
                  <option value="ScienceFiction">Science Fiction</option>
                  <option value="Thrillers">Thrillers</option>
                </optgroup>
                <optgroup label="School Books">
                  <option value="University">University</option>        
                  <option value="Polytechnic">Polytechnic</option>        
                  <option value="JuniorCollege">Junior College</option>        
                  <option value="Secondary">Secondary</option>        
                  <option value="Primary">Primary</option>        
                </optgroup>

            </select>
            <span class="input-group-btn">
            <button class="btn btn-search1" type="submit"><i class="fa fa-search"></i></button>
            </span>
         </div>
         <!-- /input-group -->
      </form>
      <!-- /.max-width on this form -->

   </div>
   <!-- /.featurette-inner (display:table-cell) -->

</div>

<!-- working form -->
<!-- <div>
<div class="col-md-6 col-sm-6 col-lg-8 centre_div">
<form method='GET' action='' class="form-inline">
   <div class="input-group">
		<input type='text' name='q' placeholder='Seach for books!' value='{{ request.GET.q }}' class="form-control">

		<span class="input-group-btn">
  	    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
  	    </span>
    </div>
</form>
</div> -->
<div class="container">
<div style="clear:both">

<div class="row portfolio">


{% for book in books %}
<!-- before was col-xs-6 col-sm-4 (3 per row)-->
<div class="col-xs-6 col-sm-4 col-md-3">
    <div class="box-image-text">
      <div class="top">
<a href="{% url 'books:bookdetail' book.slug %}">
          <div class="image rcorner1 text-center">
              <img src="{% if book.image1 %}
                          {{ book.image1.url }}
                        {% elif book.image2 %}
                            {{ book.image2.url }}
                        {% elif book.image3 %}
                            {{ book.image3.url }}
                        {% elif book.image4 %}
                            {{ book.image4.url }}
                        {% else %}{% static 'img/nobookimg.png' %}{% endif %}" alt="" id="listimg">
          </div>
</a>
      </div>
      <div class="content haha">
          <h5>{{ book.title|title }}</h5>
      </div>
        {% if book.sold == True %}
        <button class="buttonx buttonxred">SOLD</button>
        {% else %}
        <button class="buttonx{% if book.sold = True %} buttonxred{% endif %} likes{{forloop.counter}}" id="likes" data-catid="{{ book.slug }}" ><strong><i class="fa fa-heart{% if user.is_authenticated %}{% if not book in request.user.userprofile.shelf.all %}-o{% endif %}{% else %}-o{% endif %}" id="likebuttonheart{{forloop.counter}}" style="color:red"><span style="color:white;">   {{book.likes}}</span></i></strong></button>
        {% endif %}
        <button class="buttony"><strong>${{ book.price }}</strong></button>
    </div>
    <!-- /.box-image -->

</div>


{% endfor %}
</div>

{% if is_paginated %}
<div>
<ul class="pagination nav navbar-nav">
    {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
    {% endif %}
    {% for page in page_obj.paginator.page_range %}
        <li class="{% if page_obj.number == page  %}active{% endif %}"><a href="?page={{page }}">{{ page }}</a></li>
    {% endfor %}

    {% if page_obj.has_next %}
        <li> <a href="?page={{ page_obj.next_page_number }}">Next</a></li>
    {% endif %}
 </ul>
</div>
{% endif %}
{% else %}

{% if not request.GET.q and request.GET.fil %}

<div class="container">
  <h1>There are no such books yet, Sorry! </br>
  Sell one now! <a href="{% url 'books:addbook' %}"><button class="btn btn-default">Sell</button></a></h1>
</div>
{% else %}
<div class="featurette">
   <div class="featurette-inner text-center">
      <form method='GET' action='' class="search" role="form">
         <div class="input-group input-group-lg">
            <input type='text' name='q' placeholder='Seach for books!' value='{{ request.GET.q }}' class="form-control" style="width:60%;">
            <select name='fil' style="color:black; width:40%; font-size:15px;"  class="form-control">
                <option value="">Genre</option>
                <optgroup label="Non-fiction">
                  <option value="Biography">Biography</a></option>
                  <option value="Business">Business</a></option>
                  <option value="Computer">Computer</a></option>
                  <option value="Engineering">Engineering</a></option>
                  <option value="Finance">Finance</a></option>
                  <option value="food">Food & Beverages</a></option>
                  <option value="History">History</a></option>
                  <option value="Law">Law</a></option>
                  <option value="Manga">Manga</a></option>
                  <option value="Medical">Medical</a></option>
                  <option value="Novel">Novel</a></option>
                  <option value="Religion">Religion</a></option>
                  <option value="Sports">Sports</a></option>
                  <option value="Technology">Technology</a></option>
                </optgroup>
                <optgroup label="Fiction">
                  <option value="Action">Action</option>
                  <option value="Adventure">Adventure</option>
                  <option value="Classics">Classics</option>
                  <option value="Crime">Crime</option>
                  <option value="Fantasy">Fantasy</option>
                  <option value="Horror">Horror</option>
                  <option value="Romance">Romance</option>
                  <option value="ScienceFiction">Science Fiction</option>
                  <option value="Thrillers">Thrillers</option>
                </optgroup>
                <optgroup label="School Books">
                  <option value="University">University</option>        
                  <option value="Polytechnic">Polytechnic</option>        
                  <option value="JuniorCollege">Junior College</option>        
                  <option value="Secondary">Secondary</option>        
                  <option value="Primary">Primary</option>        
                </optgroup>

            </select>
            <span class="input-group-btn">
            <button class="btn btn-search1" type="submit"><i class="fa fa-search"></i></button>
            </span>
         </div>
         <!-- /input-group -->
      </form>
      <!-- /.max-width on this form -->

   </div>
   <!-- /.featurette-inner (display:table-cell) -->

</div>

<h2>Search again</h2>
<h4>No such post with this search <a href="{% url 'books:booklist' %}">Go back</a></h4>
{% endif %}
{% endif %}
</div>
 

</div>

{% endblock %}