{% extends 'books/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- before was col-xs-6 col-sm-4 (3 per row)-->
<div class="col-sm-3 hidden-xs" style="padding-top:10px;">

                        <!-- *** MENUS AND FILTERS ***
 _________________________________________________________ -->
                        <div class="panel panel-default sidebar-menu">

                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked category-menu">
                                    <li>
                                        <a href="{% url 'books:booklist' %}" style="border-bottom: 5px solid #38a7bb"><p class="panel-title no-margin">Books<span class="badge pull-right">{{ bookcount }}</span></p></a>
                                        <p class="no-margin">Non-fiction</p>
                                        <ul>
                                            <li><a href="{% url 'books:genredetail' 'business' %}">Business</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Biography' %}">Biography</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Business' %}">Business</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Computing' %}">Computing</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Design' %}">Design</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Engineering' %}">Engineering</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Finance' %}">Finance</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Food' %}">Food</a></li>
                                            <li><a href="{% url 'books:genredetail' 'History' %}">History</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Law' %}">Law</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Religion' %}">Religion</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Science' %}">Science</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Sports' %}">Sports</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Technology' %}">Technology</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p class="no-margin">Fiction</p>
                                        <ul>
                                            <li><a href="{% url 'books:genredetail' 'Action' %}">Action</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Comic' %}">Comic</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Crime' %}">Crime</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Fantasy' %}">Fantasy</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Horror' %}">Horror</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Mystery' %}">Mystery</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Novels' %}">Novels</a></li>
                                            <li><a href="{% url 'books:genredetail' 'Romance' %}">Romance</a></li>
                                            <li><a href="{% url 'books:genredetail' 'sciencefiction' %}">Science Fiction</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p class="no-margin">Others</p>
                                        <ul>
                                          <li><a href="{% url 'books:genredetail' 'others' %}">Others</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                      <a href="{% url 'books:booklist' %}" style="border-bottom: 5px solid #38a7bb"><p class="panel-title no-margin">Textbooks and Lecture Notes<span class="badge pull-right">{{ notecount }}</span></p></a>
                                      <a data-toggle="collapse" data-parent="#accordion" href="#pri">Primary</a>
                                        <div id="pri" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        <ul>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'prienglish' %}">English</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'primath' %}">Math</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'primothertongue' %}">Mother Tongue</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'priscience' %}">Science</a>
                                            </li>
                                        </ul>
                                        </div>
                                        </div>
                                      </li>
                                      <li>
                                      <a data-toggle="collapse" data-parent="#accordion" href="#sec">Secondary</a>
                                        <div id="sec" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        <ul>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'secenglish' %}">English</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'secmath' %}">Math</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'secmothertongue' %}">Mother Tongue</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'secscience' %}">Science</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'sechumanities' %}">Humanities</a>
                                            </li>
                                        </ul>
                                        </div>
                                        </div>
                                       </li>
                                      <li>
                                      <a data-toggle="collapse" data-parent="#accordion" href="#jc">Junior College</a>
                                        <div id="jc" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        <ul>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'jcgp' %}">General Paper</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'jcmath' %}">Math</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'jcmothertongue' %}">Mother Tongue</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'jcscience' %}">Science</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'jchumanities' %}">Humanities</a>
                                            </li>
                                        </ul>
                                        </div>
                                        </div>
                                       </li>
                                      <li>
                                      <a data-toggle="collapse" data-parent="#accordion" href="#poly">Polytechnic</a>
                                        <div id="poly" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        <ul>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'polybusiness' %}">Business</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'polydesign' %}">Design</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'polyengineering' %}">Engineering</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'polyit' %}">IT</a>
                                            </li>                                          
                                            <li>
                                              <a href="{% url 'books:genredetail' 'polymedia' %}">Media</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'polyscience' %}">Science</a>
                                            </li>
                                        </ul>
                                        </div>
                                        </div>
                                       </li>
                                      <li>
                                      <a data-toggle="collapse" data-parent="#accordion" href="#ite">ITE</a>
                                        <div id="ite" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        <ul>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'itebusiness' %}">Business</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'itedesign' %}">Design</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'iteengineering' %}">Engineering</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'iteit' %}">IT</a>
                                            </li>                                          
                                            <li>
                                              <a href="{% url 'books:genredetail' 'itemedia' %}">Media</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'itescience' %}">Science</a>
                                            </li>
                                        </ul>
                                        </div>
                                        </div>
                                       </li>
                                      <li>
                                      <a data-toggle="collapse" data-parent="#accordion" href="#uni">University</a>
                                        <div id="uni" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        <ul>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'unibusiness' %}">Business</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'unidesign' %}">Design</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'uniengineering' %}">Engineering</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'uniit' %}">IT</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'unimedia' %}">Media</a>
                                            </li>
                                            <li>
                                              <a href="{% url 'books:genredetail' 'uniscience' %}">Science</a>
                                            </li>
                                        </ul>
                                        </div>
                                      </div>
                                       </li>

                                </ul>

                            </div>
                        </div>

                    </div>
                    <!-- /.col-md-3 -->

                    <!-- *** LEFT COLUMN END *** -->
<div class="col-sm-9">
{% if books %}
<div class="row portfolio">
{% for book in books %}
<div class="col-xs-6 col-sm-4 col-md-3">
    <div class="box-image-text">
      <div class="top">
<a href="{% url 'books:bookdetail' book.slug %}">
          <div class="image rcorner1 text-center">
              <img src="{% if book.image1 %}
                          {{ book.image1.url }}
                        {% elif book.image2 %}
                            {{ book.image2.url }}
                        {% elif book.image3 %}
                            {{ book.image3.url }}
                        {% elif book.image4 %}
                            {{ book.image4.url }}
                        {% else %}{% static 'img/nobookimg.png' %}{% endif %}" alt="" id="listimg">
          </div>
</a>
      </div>
      <div class="content haha">
          <h5>{{ book.title|title }}</h5>
      </div>
      {% if book.sold == True %}
        <button class="buttonx buttonxred">SOLD</button>
      {% else %}
        <button class="buttonx{% if book.sold = True %} buttonxred{% endif %} likes{{forloop.counter}}" id="likes" data-catid="{{ book.slug }}" ><strong><i class="fa fa-heart{% if user.is_authenticated %}{% if not book in request.user.userprofile.shelf.all %}-o{% endif %}{% else %}-o{% endif %}" id="likebuttonheart{{forloop.counter}}" style="color:red"><span style="color:white;">   {{book.likes}}</span></i></strong></button>
      {% endif %}
        <button class="buttony"><strong>${{ book.price }}</strong></button>
    </div>
    <!-- /.box-image -->

</div>
{% endfor %}
</div>
<div>
<ul class="pagination" style="clear:both;">
{% if contacts.has_previous %}
    <li>
        <span><a href="?page={{ contacts.previous_page_number }}">← Newer</a></span>
    </li>
{% endif %}
    <li class="paginationnohover">
        <span>Page {{ contacts.number }} / {{ contacts.paginator.num_pages }}</span>
    </li>
{% if contacts.has_next %}
    <li>
        <span><a href="?page={{ contacts.next_page_number }}">Older →</a></span>
    </li>
{% endif %}
</ul></div>
{% else %}

<div class="panel panel-default" style="margin-top:20px;">
  <div class="panel-body">
    <h4>
    There are no books with this genre yet.
    </h4>
  </div>
</div>
{% endif %}

</div>
{% endblock %}