{% extends 'books/base.html' %}
{% load staticfiles %}
{% block content %}
        <div id="content">
            <div class="container">

                <div class="col-sm-6 col-sm-offset-3" id="error-page">

                    <div class="box">

                        <p class="text-center">
                            <a href="index.html">
                                <img src="{% static 'img/logo.jpg' %}" alt=""style="height:42px;">
                            </a>
                        </p>

                        <h3>Rental services are coming soon</h3>
                        <h4 class="text-muted">Stay tuned!</h4>

                        <p class="buttons"><a href="{% url 'homepage' %}" class="btn btn-template-main"><i class="fa fa-home"></i> Go to Homepage</a>
                        </p>
                    </div>


                </div>
                <!-- /.col-sm-6 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75940645-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}