{% extends "books/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container text-center" style="display:block; margin-bottom:30px;">
    <h2>Edit {{ object.user }} Profile</h2>
    <form enctype="multipart/form-data" method="post" class="col-md-6">{% csrf_token %}
        <input type="hidden" name="csrfmiddlewaretoken" value="xO88VPxSyMpeGc6IGGdOJShCy3cvZfsZ">
		

<div id="div_id_image" class="form-group">{% csrf_token %}
			<label for="id_image" class="control-label ">
                Profile Picture
            </label> <div class="controls ">
            {% if object.user.userprofile.image %}
            	<div class="thumbnail">
                    <a href="{{ object.user.userprofile.image.url }}">
                    	<img src="{{ object.user.userprofile.image.url }}">{% csrf_token %}
                    </a>
                    <div class="caption">Current Image</div>
                </div>
                    <input id="image-clear_id" name="image-clear" type="checkbox"><label for="image-clear_id">Delete</label><br>
                    Replace: {% endif %}
                <div class="thumbnail">
                	<img src="../../../static/img/noprofilepic.png" id="id_image">
	                <div class="caption">

        <input class="clearablefileinput" name="image" type="file" onchange="upload_img(this);"> </div> </div>{% csrf_token %}
	                </div>
                </div>

        <input class="btn btn-default" type="submit">{% csrf_token %}
    </form>{% csrf_token %}
    </div>
{% endblock %}