{% extends "books/base.html" %}

{% block content %}
<div class="container" style="margin-top:50px;">
	<div class="row">
		<div class="col-lg-12 text-center">
			{% if object.image %}<img src="{{ object.image.url }}" class='circular'>{% else %}<img src="../../../static/img/noprofilepic.png" class='circular'>{% endif %}
			<h3>{{ object.user }}</h3>
			{% if object.user == request.user %}
				<a href="{% url 'user_profile_edit' object.user.userprofile.slug %}"><button class="btn btn-default">Edit Profile</button></a>
			{% else %}
			<a href="{% url 'addrating' object.user.userprofile.slug %}"><button class="btn btn-default">Add Feedback</button></a>
            <a href="{% url 'postman:write' object.user %}"><button class="btn btn-default"><i class="fa fa-comment"></i>Message</button></a>
			{% endif %}
		</div>
	</div>


<div class="heading">
    <h2>Posted Books</h2>
</div>

{% for book in books %}
<!-- before was col-xs-6 col-sm-4 (3 per row)-->
<div class="col-xs-6 col-sm-4 col-md-3">
<a href="{% url 'books:bookdetail' book.slug %}">
    <div class="box-image-text">
        <div class="top">
            <div class="image rcorner1 text-center">
                <img src="{% if book.image1 %}{{ book.image1.url }}{% else %}../../../static/img/portfolio-1.jpg{% endif %}" alt="" id="listimg" class="img-responsive">
            </div>
      </div>
      <div class="content haha">
          <h5>{{ book.title|title }}</h5>
      </div>
        <button class="buttonx{% if book.sold = True %} buttonxred{% endif %}" id="buttonx"><strong>{% if book.sold == True %}SOLD{% else %}Info{% endif %}</strong></button>
        <button class="buttony"><strong>${{ book.price }}</strong></button>
    </div>
</a>
    <!-- /.box-image -->

</div>

{% empty %}
<h1>There are no books from this user yet</h1>
{% endfor %}

<div>
{% if is_paginated %}
<ul class="pagination" style="clear:both;">
{% if page_obj.has_previous %}
    <li>
        <span><a href="?page={{ page_obj.previous_page_number }}">← Older</a></span>
    </li>
{% endif %}
    <li class="paginationnohover">
        <span>Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
    </li>
{% if page_obj.has_next %}
    <li>
        <span><a href="?page={{ page_obj.next_page_number }}">Newer →</a></span>
    </li>
{% endif %}
</ul>
{% endif %}
</div>



<!-- SHELVING SYSTEM

{% for shelf in object.shelf.all %}
{{ shelf.title }} </br>
{{ shelf.description }}
{% endfor %} -->


<!-- rating system working -->
<div style="clear:both;">
<div class="heading">
    <h2>Feedback</h2>
</div>
{% if ratings %}
{% for rate in ratings %}
{% ifnotequal rate.rate None %}
<div class="row comment">

                                <div class="col-sm-9 col-md-10">
                                    <h5 class="text-uppercase"><a href="{% url 'user_profile_detail' rate.author.userprofile.slug %}"><u>{{rate.author}}</u></a></h5>
                                    <p class="posted"><i class="fa fa-{% if rate.rate == 'Good' %}thumbs-up{% elif rate.rate == 'Neutral' %}clock-o{% else %}thumbs-down{% endif %}"></i> {{ rate.rate }}</p>
                                    <p>{{ rate.feedback }}</p>
                                </div>
                            </div>
                            <hr style="border-bottom: 1px solid #ccc">

{% endifnotequal %}
{% endfor %}

{% else %}
<h1>There are no ratings for this user</h1>
{% endif %} 
</div>
</div>
{% endblock %}